<div
  class="flex items-center gap-4 flex-wrap bg-overlay p-14 sm:p-16 before:bg-title before:bg-opacity-70"
  style="background-image: url('assets/img/shortcode/breadcumb.jpg')"
>
  <div class="text-center w-full">
    <h2
      class="text-white text-8 md:text-[40px] font-normal leading-none text-center"
    >
      {{ last.name }}
    </h2>
    <ul
      class="flex items-center justify-center gap-[10px] text-base md:text-lg leading-none font-normal text-white mt-3 md:mt-4"
    >
      <li><a [routerLink]="'/'">Home</a></li>
      @for(item of data; track item){
      <li>/</li>
      @if(last === item){
      <li class="text-primary">
        {{ item.name }}
      </li>
      } @else{
      <li>
        <a [routerLink]="pathFor(item)">{{ item.name }}</a>
      </li>
      } }
    </ul>
  </div>
</div>
