<navbar-default />

<breadcrumbs
  [data]="[
    { name: product.name, path: '' }
  ]"
>
</breadcrumbs>

<div class="s-py-50" data-aos="fade-up">
  <div class="container-fluid">
      <div class="max-w-[1720px] mx-auto flex justify-between gap-10 flex-col lg:flex-row">
          <div class="w-full lg:w-[68%]" style="height: 800px;">
            <planner [settings]="product.integration.settings"></planner>
          </div>
          <div class="lg:max-w-[635px] w-full">
              <div class="pb-4 sm:pb-6 border-b border-bdr-clr dark:border-bdr-clr-drk">
                  <h2 class="font-semibold leading-none">{{product.name }}</h2>
                  <div class="flex gap-4 items-center mt-[15px]">
                      <span class="text-lg sm:text-xl leading-none pb-[5px] text-title line-through pl-2 inline-block dark:text-white">$140.99</span>
                      <span class="text-2xl sm:text-3xl text-primary leading-none block">$85.00</span>
                  </div>

                  <p class="sm:text-lg mt-5 md:mt-7">
                      {{product.description}}
                  </p>
              </div>

          </div>
      </div>
  </div>
</div>

<footer-default></footer-default>
